{% layout none %}

<div id="app">
  <template v-if="collection">
    <h1 v-html="collection.title"></h1>
    <div v-for="product in collection.products">
    <h2 v-html="product.title"></h2>
      <div v-if="product.price_min == product.price_max" v-html="product.price_min"></div>
        <div v-else v-html="product.price_min + ' _ ' + product.price_max"></div>
	</div>
  </template>
</div>

<script src="https://unpkg.com/vue@next"></script>

<script>
  const options = {
    name: "Collection App",
    data() {
    	return {
    collection: null
  		}
  	},
      methods: {
        grabCollection() {
          fetch('https://dev-help55642.myshopify.com/collections/{{collection.handle}}?view=json')
          	.then(response => response.json())
          	.then(data => this.collection = data);
		}
      },
        mounted() {
            this.grabCollection();
         }
  }  
        const CollectionApp = Vue.createApp(options).mount('#app');
</script>