{% layout none %}

<div id="app">
  
  <h1 v-html="collection.title"></h1>
  <div v-for="product in collection.products"></div>
  <h2 v-html="product.title"></h2>
  <div v-for="variant in product.variants"></div>
  		<button v-html="variant.title"></button>
</div>

<script src="https://unpkg.com/vue@next"></script>

<script>
  const options = {
    name: "Collection App"
    data() {
    	return {
    collection: null
  		}
  	},
      method: {
        grabCollection() {
          fetch('https://dev-help55642.myshopify.com/collections/{{collection.handle}}?view=json')
          	.then(response => response.json())
          	.then(data => console.log(data => this.collection = data));
		}
      },
        mounted() {
            this.grabCollection();
         }
  }  
        const CollectionApp = vue.createApp(options).mount('#app');
</script>